// Place all the styles related to the Films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';
@import 'mixins';
@import 'base';
@import 'hero';

.home {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.article-poster {
  float: left;
  width: 25%;
  margin-right: 1.5rem;
  h1 {
    font-size: 2rem;
    margin-bottom: 0;
    color: $my_red;
  }
  h2 {
    font-size: 1.2em;
    color: $slightly_grey;
  }
}

// This mixin provides a fancier clearfix than using the overflow property!
